@import './common/colors.scss';

.restaurant-card{
    border: 1px solid $silver-sand;
    padding: 0.3rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 340px;
    .img-container{
        width: 17.9rem;
        height: 12rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
        }
    }
    .restaurant-details{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        .restaurant-name{
            
        }
        .cuisine{
           
        }

        .rating{
            
        }
        .time-and-cost{
            font-size: 14px;
            color: $text-very-dark-gray;
        }
    }  
}

.restaurant-menu-wrapper{
    .restaurant-details-wrapper{
        
        .restaurant-name{
            
        }
        .rating-number{
            
        }
        .rating-star{
            font-size: 0.9rem;
            color: $primary-color-orange;
            
        }
    }
    .restaurant-cuisine, .restaurant-address, .total-review, .estimated-time{
        color: $text-very-dark-gray;
        font-size: 1rem;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        margin: 1rem 0;
    }

    .total-review{
        margin-top: 0.5rem;
    }

    .order-online{
        font-size: 1.5rem;
        font-weight: 500;
    }

    .estimated-time{
        font-size: 0.9rem;
        text-transform: lowercase;
    }

    .food-item-container{
        display: flex;
        gap: 2rem;
        flex-basis: 100%;
        margin-bottom: 2rem;
        .food-item-info{
            flex-basis: 60rem;
        }
        

        

        
        
        
        
    }

    
}
