@import './common/colors.scss';
.shimmer-container{
    padding: 2rem 8rem;
    .filter-container{
        display: flex;
        gap: 1rem;
    }
    .filter{
        width: 12rem;
        height: 3rem;
        background: $shimmer-gray;
        margin-bottom: 1rem;
    }
    .shimmer-card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    
        .shimmer-card{
            width: 17.9rem;
            background-color: $shimmer-gray;
            height: 20rem;
        }
    }
}
